# --- Python (ملفات الكود المترجم والمؤقت) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Editors (ملفات محرر الأكواد) ---
.vscode/
.idea/

# --- Operating System (ملفات نظام التشغيل) ---
# Mac
.DS_Store
# Windows
Thumbs.db
desktop.ini

# --- Environment (بيئات العمل الافتراضية) ---
venv/
env/
.env